@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.cart-badge {
  display: flex;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  place-content: center;
  -webkit-box-align: center;
  align-items: center;
  position: absolute;
  box-sizing: border-box;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 0.75rem;
  min-width: 20px;
  line-height: 1;
  padding: 0px 6px;
  height: 20px;
  z-index: 1;
  transition: transform 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  top: 0px;
  right: 0px;
  transform: scale(1) translate(50%, -50%);
  transform-origin: 100% 0%;
  color: black;
}
.uppercase {
  text-transform: uppercase;
}
.swiper-button-prev {
  color: #d2b6a2 !important;
}

.swiper-button-next {
  color: #d2b6a2 !important;
}
input[type="radio"]:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -5px;
  left: -1px;
  position: relative;
  background-color: rgb(77, 77, 77);
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid #d2b6a2;
}

/*gives radio button orange fill when clicked*/
input[type="radio"]:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -5px;
  left: -1px;
  position: relative;
  background-color: #e49d6a;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid #d2b6a2;
}
